<form action="/books/createbook" method="POST">
    <label for="title">Title</label>
    <input type="text" name='title' id="title">
    <label for="image">Image</label>
    <input type="text" name="imageUrl" id="imageUrl">
    <label for="author">Author</label>
    <input type="text" name="author" id="author">
    <label for="description">Description</label>
    <input type="text" name="description" id="description">
    <label for="price">Price</label>
    <input type="number" name="price" id="price">
    <input type="submit" value="create">
</form>