<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="index-body">
    <section class="book-logo">
    <img src="https://webstockreview.net/images250_/clipart-book-tree-3.png" alt="">
    <h1>Book-Shelf</h1>
    </section>
    
   <div class ="index-login">
    <a class="index-btn" href="/users/register"><span class="explore-articles">Register</span></a>
    <a class="index-btn" href="/users/login"><span class="explore-articles">Login</span></a>
   </div>
    
    <!-- <a href="">admin</a> -->


  </body>
</html>
