<form class="login-form" action="/users/login" method="POST">
    <input type="text" placeholder="Email" name="email" />
    <input type="password" name="password" id="" placeholder="Password" />
    <input type="submit" value="LOGIN" />
  </form>