<form action="/users/register"  method="POST">
    <input type="text" name="name" placeholder="Full Name">
    <input type="text" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="setPassword">
    <input type="submit" value="Register">
</form>